/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; font-size: 120%; line-height: 1.75em; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

table {
  font-size: inherit;
  font: 100%;
}

ul {
  list-style-type: none;
}

/*****************************************************************************/
/*
/* Default
/*
/*****************************************************************************/

body {
  background-color: #FCF9F7;
}

a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
  font-weight:      none;
  color:            #8085C1;
} 
a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
  font-weight:      none;
  color:            #8085C1;
} 
a:hover   {
  /* Applies to links under the pointer */
  text-decoration:  none;
  font-weight:      none;
  color:            #8085C1;
} 
a:active  {
  /* Applies to activated links */
  text-decoration:  none;
  font-weight:      none;
  color:            #8085C1;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

#home {
  width: 20em;
  max-width: 100%;
  margin: 0 auto;
}

#home p {
  font-size: 110%;
}

#home a {
  color: #666a9a;
}

/*****************************************************************************/
/*
/* Content
/*
/*****************************************************************************/

#content {
  max-width: 100%;
  margin: 0 auto;
  padding-right: 1em;
  padding-left: 1em;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 48em;
  max-width: 100%;
  margin: 1em auto;
  padding-bottom: 2em;
  line-height: 1.5em;
}

.site .header {
  text-align: center;
  padding-bottom: 1em;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 120%;
}

.site .header h1.title a {
  color: #2A0F2E;
}

.site .header h1.title a:hover {
  color: #000;
}

.site h2 {
  font-size: 120%;
}

.site .header a.extra {
  color: #aaa;
}

.site .header a.extra:hover {
  color: #000;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  width: 20em;
  max-width: 90%;
  margin: 3em auto 2em;
  padding-top: 1em;
  color: #666;
  border-top: 1px solid #2A0F2E;
}

.site .footer .contact {
  text-align: center;
  font-size: 90%;
}

.site .footer .contact ul {
  columns: 2;
  -webkit-columns: 2;
  -mox-columns: 2;
}

.site .footer .contact a {
  color: #8085C1;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */

#post code {
  color: #666666;
}
