<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <div class="picture">
                <img src="/img/joeymeyer.png" width=155 height=155>
              </div>
            </div>
     
                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  <a href="/blog/">joeymeyer.com/blog</a><br />
                  <a href="mailto:contact@joeymeyer.com">contact@joeymeyer.com</a>
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="https://github.com/joeymeyer/">github.com/joeymeyer</a><br />
                  <a href="http://www.linkedin.com/in/joeymeyer">linkedin.com/joeymeyer</a><br />
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
